/* .item1{grid-area: header;}
.item2{grid-area: menu;}
.item3{grid-area: main;}
.item4{grid-area: right;}
.item5{grid-area: footer;}

.container{

    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'menu menu main main right right'
    'menu menu main main right right'
    'menu menu footer footer footer footer';
    background-color: #219621;
    gap: 10px;
    padding:20px 0;
  
    
}


.container> div{
    background-color: rgba(255,255,255,0.5);
    padding: 15px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}


.item1{
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
} */




.call{
    height: 150vw;
    width: 100%;
    position: absolute;
    border-radius:0;

    /* background-color: aqua;
    opacity: 0.2; */

/* background:rgba(50, 40, 10, .6);
background-image: url(./4.jpg);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed; */
background:rbga(30,40,60,.7) url(./4.jpg) no-repeat scroll right top;


}